<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JK INSTITUTE</title>
    <link rel="stylesheet" th:href="@{/css/jk.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins:wght@200;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <section class="header">
        <nav>
            <h1><a href="index.html">JK</a></h1>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="../JKN/about.html">ABOUT</a></li>
                    <li><a href="../JKN/course.html">COURSE</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <h1>BEST TRAINING AND PLACEMENT INSTITUTE</h1>
            <P>JK INSTITUE is the best booming certificate training provider affiliated with over 100+ IT and ITES
                companies to accord the best training for aspirers. ,<br>That is the reason our students are always
                placed in the top MNCs. </P>
            <a href="" class="btn">Visit now more</a>
        </div>
    </section>

    <hr>
    <section class="course">
        <h1>Courses Offered</h1>
<hr>
        <div class="row">
            <div class="course-col">
                <h3>Placement and Training</h3>
                <ol>
                    <li>Resume Building</li>
                    <li>Aptitute and Reasoning</li>
                    <li>Communnication Skills</li>
                    <li>Group Discussion</li>
                    <li>Mock interview</li>
                    <li>campus Recruitment Support <br>(IT and Non IT Companies)</li>

                </ol>

            </div>
            <div class="course-col">
                <h3>COMPETITIVE EXAMS</h3>
                <ol>
                    <li>TNPSC</li>
                    <li>SSC</li>
                    <li>BANK</li>
                    <li>RAILWAYS</li>
                    <li>POLICE</li>
                    <li>ARMY, NAVY,AIRFORCE</li>

                </ol>
            </div>
            <div class="course-col">
                <h3>COMPUTER AND IT TRAINING</h3>
                <ol>
                    <li>Hardware and Networking</li>
                    <li>Tally</li>
                    <li>Software</li>
                    <li>Grapic Designing</li>
                    <li>Web Designing/Development</li>
                    <li>App Designing/ Development</li>
                    <li>Artificial Intelligence</li>
                    <li>Robotics</li>
                    <li>Ethical Hacking</li>
                </ol>

            </div>
            <div class="course-col">
                <h3>SPOKEN ENGLISH</h3>
                <ol>
                    <li>For Entry Level</li>
                    <ul class="sub-course">
                        <li>Pronunciation</li>
                        <li>Fluency</li>
                        <li>Accuracy</li>
                        <li>Discussion</li>
                        <li>Presentation</li>
                    </ul>
                    <!-- <span>Pronunciation</span><br>
                        <span>Fluency</span> -->

                    <li>For Advance Level</li>
                    <ul class="sub-course">
                        <li>How to do a Job Interview in English </li>
                        <li>How to do speak on Current Events in English</li>
                        <li>How to do speak on General Knowledge in English</li>
                        <li>How to speak on Personal Life in English</li>

                    </ul>

                </ol>

            </div>
            <div class="course-col">
                <h3>CARRIER GUIDENCE</h3>
                <ol>
                    <li>Career Exploration Interviews</li>
                    <li>Career Assessment</li>
                    <li>Carrer Challange</li>
                    <li>Self Determined Career Research</li>
                    <li>Goal Setting</li>
                    <li>Career Journaling</li>
                    <li>Career Mindmap</li>
                    <li>Group Career Counseling Sessions</li>
                    <li>Career Vision</li>
                </ol>

            </div>
            <div class="course-col">
                <h3>HR/ INTERN TRAINING</h3>
                <ol>
                    <li>Statutory & Legal Compliance</li>
                    <li>Compansation & Benefits</li>
                    <li>MS Excel-Lab Session</li>
                    <li>Performance Management System</li>
                    <li>Training And Development</li>
                    <li>Organizational Development</li>
                    <li>HR Administration</li>
                    <li>Recruitment And Selection</li>
                    <li>Personality Development</li>
                </ol>

            </div>
            <div class="course-col">
                <h3>Type-Writting Courses</h3>
                <ol>
                    <li>Lower</li>
                    <ul class="sub-course">
                        <li>English and Tamil</li>
                    </ul>
                    <li>Higher</li>
                    <ul class="sub-course">
                        <li>English and Tamil</li>
                    </ul>

                </ol>

            </div>
            <div class="course-col">
                <h3>WorkShop</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque minus voluptatum magnam autem nihil
                    dolorum dignissimos esse sequi aliquid voluptate?</p>

            </div>
            <div class="course-col">
                <h3>Industrial Visit</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque minus voluptatum magnam autem nihil
                    dolorum dignissimos esse sequi aliquid voluptate?</p>

            </div>
        </div>
    </section>
    <section class="cta">
        <h1>For Business Enquiry</h1>
        <p>Annai Parvathi Nagar, Opp Collector Office</p>
        <p>Vengikkal, Tiruvannamalai- 606604</p>
        <a href="tel:+918438438413" class="btn">CONTACT US</a></p>
    </section>
<hr>
    <section class="footer">
        <h3>ABOUT US</h3>
        <P>JK INSTITUE is the best booming certificate training provider affiliated with over 100+ IT and ITES
            companies to accord the best training for aspirers. ,<br>That is the reason our students are always
            placed in the top MNCs. We focus in training the students with placement assistance under professional
            mentors. ,<br> Our trainers have 10+ years of experience in the industry and are certified professionals
            from
            various reputed organizations. <br> We provide an excellent infrastructure and learning environmnet that
            helps students learn new technologies quickly. <br> We also offer exclusive courses that are not available at
            other places. In addition, our placement cell helps the students to get placed in top MNCs
        </P>

        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-mail"></i>

        </div>
    </section>

    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
</body>

</html>